<!-- <html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <%- include('_header'); %> -->
        <link rel="stylesheet" href="./css/home.css">
        <h1> title is <%= title %>  </h1>

        <!-- <%- include('_footer'); %> -->
    <!-- </body>
</html> -->