<!-- <html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <%- include('_header'); %> -->

        <h1> Users name is <%=userName%>  </h1>
        <input type="text" id="input">
        <input type="submit" id="btn">
        <script src="/js/user.js"></script>
        <!-- <%- include('_footer'); %>
    </body>
</html> -->